# This systemd-networkd .network file defines the static IP connection
# parameters for my raspberry pi
#
# {{@@ header() @@}}

[Match]
Name=en*

[Network]
Address={{@@ local_ip_addresses.raspberry @@}}/24
Gateway={{@@ local_ip_addresses.router @@}}
DNS=212.97.129.34
DNS=86.58.174.90
