# This systemd-networkd .network file defines the static IP connection
# parameters for my raspberry pi

[Match]
Name=en*

[Network]
Address=192.168.1.4/24
Gateway=192.168.1.254
DNS=208.67.222.222
DNS=208.67.220.220
