# This systemd-networkd .network file defines the static IP connection
# parameters for my raspberry pi
#
# {{@@ header() @@}}

[Match]
Name=en*

[Network]
Address={{@@ local_ip_addresses.raspberry @@}}/24
Gateway={{@@ local_ip_addresses.router @@}}
DNS=89.221.160.202
DNS=80.199.160.142
