[Settings]
ShowAllProcesses=TRUE
MorePrecision=FALSE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=7
SortType=1
WindowWidth=900
WindowHeight=564
HandlePosition=100
ProcessTreeView=FALSE
