# host-refresh systemd timer file
#
# {{@@ header() @@}}

[Unit]
Description=Job refreshing the content of /etc/host for faster domain lookup

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec={{@@ daily_timer_delay @@}}
