# host-refresh systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Job refreshing the content of /etc/host for faster domain lookup

[Service]
ExecStart={{@@ host_refresh_path @@}} --info
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=host-refresh
SyslogLevel=info
SyslogLevelPrefix=true
Type=oneshot
