%YAML 1.2
---
# This dotdrop config file is meant for root dotfiles.

actions:
  pre:
    env-shells: apt-get install bash zsh
  post:
    grub: update-grub
    locales: sh ./actions/locales.sh
    mrconfig: apt-get install jq
    repo-keys: sh ./actions/repo-keys.sh
    systemd-enable: basename '{0}' '.service' | xargs systemctl enable
    timezone: >-
      cat {0} | xargs -i ln -sf '/usr/share/zoneinfo/{{}}' '/etc/localtime';
      dpkg-reconfigure -f noninteractive tzdata;
      rm {0}
    xkb: sh ./actions/xkb.sh
config:
  backup: false
  banner: true
  create: true
  dotpath: dotfiles
  ignoreempty: false
  import_actions:
  - actions.d/append.yaml
  - actions.d/insert.yaml
  - actions.d/shared.yaml
  import_configs:
  - profiles.d/shared.yaml
  import_variables:
  - variables.d/i3.yaml
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop
dotfiles:
  d_applications:
    src: usr/share/applications
    dst: /usr/share/applications
  d_asdf:
    src: asdf
    dst: '{{@@ asdf_config_path @@}}'
  d_sources.list.d:
    src: etc/apt/sources.list.d
    dst: /etc/apt/sources.list.d
    upignore:
    - '*.save'
  d_xorg.conf.d:
    src: etc/X11/xorg.conf.d
    dst: /etc/X11/xorg.conf.d
  f_60-root.conf:
    src: etc/polkit-1/localauthority.conf.d/60-root.conf
    dst: /etc/polkit-1/localauthority.conf.d/60-root.conf
  f_80i3blocks:
    src: etc/apt/apt.conf.d/80i3blocks
    dst: /etc/apt/apt.conf.d/80i3blocks
  f_99-no-wireless-on-wired:
    src: etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
    dst: /etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
  f_anacron:
    src: etc/default/anacron
    dst: /etc/default/anacron
  f_anacrontab:
    src: cron/anacrontab
    dst: '{{@@ anacrontab_tmp_dst @@}}'
    actions:
    - strip '{{@@ anacrontab_append_marker @@}}' '{{@@ anacrontab_dst @@}}'
    - append '{{@@ anacrontab_dst @@}}' '{{@@ anacrontab_tmp_dst @@}}'
  f_env-vars.sh:
    src: etc/profile.d/env-vars.sh
    dst: /etc/profile.d/env-vars.sh
    trans_read: fix-home
  f_env-vars-bash.sh:
    src: env/source-env-vars.sh
    dst: '{{@@ env_tmp_dst @@}}'
    actions:
    - strip_file '{{@@ _dotfile_abs_src @@}}' '{{@@ bash_env_dst @@}}'
    - >-
      insert_match '(^$|^[^#])' '{{@@ env_tmp_dst @@}}'
        '{{@@ bash_env_dst @@}}'
    - rm '{{@@ env_tmp_dst @@}}'
  f_env-vars-zsh.sh:
    dst: '{{@@ env_tmp_dst @@}}'
    src: env/source-env-vars.sh
    actions:
    - strip_file '{{@@ _dotfile_abs_src @@}}' '{{@@ zsh_env_dst @@}}'
    - >-
      insert_match '(^$|^[^#])' '{{@@ env_tmp_dst @@}}'
        '{{@@ zsh_env_dst @@}}'
    - rm '{{@@ env_tmp_dst @@}}'
  f_fstab:
    src: etc/fstab
    dst: '{{@@ fstab_tmp_dst @@}}'
    actions:
    - strip '{{@@ fstab_append_marker @@}}' '{{@@ fstab_dst @@}}'
    - append '{{@@ fstab_dst @@}}' '{{@@ fstab_tmp_dst @@}}'
  f_frequent-hosts:
    src: usr/local/etc/frequent-hosts
    dst: /usr/local/etc/frequent-hosts
  f_grub:
    src: etc/default/grub
    dst: /etc/default/grub
    actions:
    - grub
  f_hosts:
    src: etc/hosts
    dst: '{{@@ hosts_tmp_dst @@}}'
    actions:
    - strip '{{@@ hosts_append_marker @@}}' '{{@@ hosts_dst @@}}'
    - append '{{@@ hosts_dst @@}}' '{{@@ hosts_tmp_dst @@}}'
  f_keyboard:
    src: etc/default/keyboard
    dst: /etc/default/keyboard
  f_lightdm-gtk-greeter.conf.d_02_custom.conf:
    src: usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
    dst: /usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
  f_lightdm.conf.d_02_custom.conf:
    src: usr/share/lightdm/lightdm.conf.d/02_custom.conf
    dst: /usr/share/lightdm/lightdm.conf.d/02_custom.conf
  f_locale:
    src: etc/default/locale
    dst: /etc/default/locale
  f_logrotate.d_custom.conf:
    src: etc/logrotate.d/custom.conf
    dst: /etc/logrotate.d/custom.conf
  f_mrconfig:
    src: mrconfig-root
    dst: ~/.mrconfig
    actions:
    - mrconfig
  f_org.xfce.xfce4-terminal.policy:
    src: usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
    dst: /usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
  f_rsyslog.d_custom.conf:
    src: etc/rsyslog.d/custom.conf
    dst: /etc/rsyslog.d/custom.conf
  f_sources.list:
    src: etc/apt/sources.list
    dst: /etc/apt/sources.list
  f_sudo_sys-env-vars:
    src: etc/sudoers.d/sys-env-vars
    dst: /etc/sudoers.d/sys-env-vars
  f_timezone:
    src: etc/timezone
    dst: '{{@@ locales_tmp_dst @@}}'
    actions:
    - timezone '{{@@ locales_tmp_dst @@}}'
  f_underclock.service:
    src: etc/systemd/system/underclock.service
    dst: /etc/systemd/system/underclock.service
    actions:
      - systemd-enable '{{@@ _dotfile_abs_src @@}}'
  f_xkb_base.lst:
    src: usr/share/X11/xkb/rules/base.lst
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - >-
      strip_file '{{@@ _dotfile_abs_src @@}}' '{{@@ base_lst_dst @@}}'
    - >-
      insert_match '^\s*\sintl\s\s*us' '{{@@ xkb_tmp_dst @@}}'
        '{{@@ base_lst_dst @@}}'
  f_xkb_base.xml:
    src: usr/share/X11/xkb/rules/base.xml
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - strip_xml ".//*[name='intl-custom'].." '{{@@ base_xml_dst @@}}'
    - >-
      insert_xml ".//*[description='English (US, intl., with dead keys)'].."
        '{{@@ xkb_tmp_dst @@}}' '{{@@ base_xml_dst @@}}'
  f_xkb_us:
    src: usr/share/X11/xkb/symbols/us
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - strip '{{@@ symbols_append_marker @@}}' '{{@@ symbols_dst @@}}'
    - append '{{@@ symbols_dst @@}}' '{{@@ xkb_tmp_dst @@}}'
profiles:
  cron:
    dotfiles:
    - f_anacron
    - f_anacrontab
    - f_logrotate.d_custom.conf
    - f_rsyslog.d_custom.conf
    actions:
    - anacron '' ''
    - rm '{{@@ anacrontab_tmp_dst @@}}'
    dynvariables:
      anacrontab_tmp_dst: mktemp /tmp/anacrontab-append.XXX
    variables:
      anacrontab_append_marker: Custom jobs
      anacrontab_dst: /etc/anacrontab
  environment:
    dotfiles:
    - f_env-vars.sh
    - f_env-vars-bash.sh
    - f_env-vars-zsh.sh
    - f_sudo_sys-env-vars
    actions:
    - env-shells
    dynvariables:
      env_tmp_dst: mktemp /tmp/anacrontab-tmp.XXX
    variables:
      bash_env_dst: /etc/bash.bashrc
      zsh_env_dst: /etc/zsh/zshenv
  graphical-login:
    dotfiles:
    - f_lightdm.conf.d_02_custom.conf
    - f_lightdm-gtk-greeter.conf.d_02_custom.conf
  i3:
    dotfiles:
    - f_80i3blocks
    include:
    - x11
  locales:
    dotfiles:
    - f_locale
    - f_timezone
    dynvariables:
      locales_tmp_dst: mktemp /tmp/locales-tmp.XXX
    actions:
    - locales
    - rm '{{@@ locales_tmp_dst @@}}'
  manual:
    dotfiles:
    - d_asdf
    - d_applications
    - f_mrconfig
    dynvariables:
      asdf_config_path: echo "$ASDF_CONFIG_PATH"
  network:
    dotfiles:
    - f_99-no-wireless-on-wired
    - f_frequent-hosts
    - f_hosts
    actions:
    - rm '{{@@ hosts_tmp_dst @@}}'
    dynvariables:
      hosts_tmp_dst: mktemp /tmp/hosts-append.XXX
    variables:
      hosts_append_marker: Local sites
      hosts_dst: /etc/hosts
  packages:
    dotfiles:
    - d_sources.list.d
    - f_sources.list
    actions:
    - repo-keys
  polkit:
    dotfiles:
    - f_60-root.conf
    - f_org.xfce.xfce4-terminal.policy
  startup:
    dotfiles:
    - f_fstab
    - f_grub
    - f_underclock.service
    actions:
    - rm '{{@@ fstab_tmp_dst @@}}'
    dynvariables:
      fstab_tmp_dst: mktemp /tmp/fstab-append.XXX
    variables:
      fstab_append_marker: Custom mount points
      fstab_dst: /etc/fstab
  x11:
    dotfiles:
    - d_xorg.conf.d
  xkb:
    dotfiles:
    - f_keyboard
    - f_xkb_base.lst
    - f_xkb_base.xml
    - f_xkb_us
    actions:
    - xkb
    - rm '{{@@ xkb_tmp_dst @@}}'
    dynvariables:
      xkb_tmp_dst: mktemp /tmp/xkb-dotfiles.XXX
    variables:
      base_lst_dst: /usr/share/X11/xkb/rules/base.lst
      base_xml_dst: /usr/share/X11/xkb/rules/base.xml
      symbols_append_marker: Custom layout symbols
      symbols_dst: /usr/share/X11/xkb/symbols/us
variables:
  mr_default_dir: /opt
  user: root
  zygal_colorscheme: green
