actions:
  post:
    locales: sh ./actions/locales.sh
    repo-keys: sh ./actions/repo-keys.sh
config:
  backup: false
  banner: true
  create: true
  dotpath: dotfiles
  ignoreempty: false
  import_actions:
  - actions.d/append.yaml
  - actions.d/insert.yaml
  import_configs:
  - profiles.d/shared.yaml
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop
dotfiles:
  d_asdf:
    dst: '{{@@ asdf_config_path @@}}'
    src: asdf
  d_sources.list.d:
    dst: /etc/apt/sources.list.d
    src: etc/apt/sources.list.d
    upignore:
    - '*.save'
  f_60-root.conf:
    dst: /etc/polkit-1/localauthority.conf.d/60-root.conf
    src: etc/polkit-1/localauthority.conf.d/60-root.conf
  f_99-no-wireless-on-wired:
    dst: /etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
    src: etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
  f_anacron:
    src: etc/default/anacron
    dst: /etc/default/anacron
  f_anacrontab:
    dst: '{{@@ anacrontab_tmp_dst @@}}'
    src: cron/anacrontab
    actions:
    - strip '{{@@ anacrontab_append_marker @@}}' '{{@@ anacrontab_dst @@}}'
    - append '{{@@ anacrontab_dst @@}}' '{{@@ anacrontab_tmp_dst @@}}'
  f_fstab:
    dst: '{{@@ fstab_tmp_dst @@}}'
    src: etc/fstab
    actions:
    - strip '{{@@ fstab_append_marker @@}}' '{{@@ fstab_dst @@}}'
    - append '{{@@ fstab_dst @@}}' '{{@@ fstab_tmp_dst @@}}'
  f_frequent-hosts:
    src: usr/local/etc/frequent-hosts
    dst: /usr/local/etc/frequent-hosts
  f_hosts:
    dst: '{{@@ hosts_tmp_dst @@}}'
    src: etc/hosts
    actions:
    - strip '{{@@ hosts_append_marker @@}}' '{{@@ hosts_dst @@}}'
    - append '{{@@ hosts_dst @@}}' '{{@@ hosts_tmp_dst @@}}'
  f_lightdm-gtk-greeter.conf.d_02_custom.conf:
    dst: /usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
    src: usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
  f_lightdm.conf.d_02_custom.conf:
    dst: /usr/share/lightdm/lightdm.conf.d/02_custom.conf
    src: usr/share/lightdm/lightdm.conf.d/02_custom.conf
  f_locale:
    src: etc/default/locale
    dst: /etc/default/locale
  f_logrotate.d_custom.conf:
    dst: /etc/logrotate.d/custom.conf
    src: etc/logrotate.d/custom.conf
  f_org.xfce.xfce4-terminal.policy:
    dst: /usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
    src: usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
  f_rsyslog.d_custom.conf:
    dst: /etc/rsyslog.d/custom.conf
    src: etc/rsyslog.d/custom.conf
  f_sources.list:
    dst: /etc/apt/sources.list
    src: etc/apt/sources.list
  f_timezone:
    src: etc/timezone
    dst: /etc/timezone
  f_underclock.service:
    dst: /etc/systemd/system/underclock.service
    src: etc/systemd/system/underclock.service
  f_keyboard:
    src: etc/default/keyboard
    dst: /etc/default/keyboard
  f_base.lst:
    src: usr/share/X11/xkb/rules/base.lst
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - >-
      strip_range '{{@@ base_lst_range_start @@}}'
        '{{@@ base_lst_range_end @@}}' '{{@@ base_lst_dst @@}}'
    - >-
      insert_match '{{@@ base_lst_range_start @@}}' '{{@@ xkb_tmp_dst @@}}'
        '{{@@ base_lst_dst @@}}'
  f_base.xml:
    src: usr/share/X11/xkb/rules/base.xml
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - >-
      strip_range '{{@@ base_xml_range_start @@}}'
        '{{@@ base_xml_range_end @@}}' '{{@@ base_xml_dst @@}}'
    - >-
      insert_match '{{@@ base_xml_range_start @@}}' '{{@@ xkb_tmp_dst @@}}'
        '{{@@ base_xml_dst @@}}'
  f_us:
    src: usr/share/X11/xkb/symbols/us
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - strip '{{@@ symbols_append_marker @@}}' '{{@@ symbols_dst @@}}'
    - append '{{@@ symbols_dst @@}}' '{{@@ xkb_tmp_dst @@}}'
profiles:
  asdf:
    dotfiles:
    - d_asdf
    dynvariables:
      asdf_config_path: echo "$ASDF_CONFIG_PATH"
  cron:
    dotfiles:
    - f_anacron
    - f_anacrontab
    - f_logrotate.d_custom.conf
    - f_rsyslog.d_custom.conf
    dynvariables:
      anacrontab_tmp_dst: mktemp /tmp/anacrontab-append.XXX
    variables:
      anacrontab_append_marker: 'Custom jobs'
      anacrontab_dst: /etc/anacrontab
  davide-debian:
    include:
    - git
    - graphical-login
    - shell
    - network
    - packages
    - polkit
    - startup
  graphical-login:
    dotfiles:
    - f_lightdm.conf.d_02_custom.conf
    - f_lightdm-gtk-greeter.conf.d_02_custom.conf
  locales:
    dotfiles:
    - f_locale
    - f_timezone
    actions:
    - locales
  network:
    dotfiles:
    - f_99-no-wireless-on-wired
    - f_frequent-hosts
    - f_hosts
    dynvariables:
      hosts_tmp_dst: mktemp /tmp/hosts-append.XXX
    variables:
      hosts_append_marker: 'Local sites'
      hosts_dst: /etc/hosts
  packages:
    dotfiles:
    - d_sources.list.d
    - f_sources.list
    actions:
    - repo-keys
  polkit:
    dotfiles:
    - f_60-root.conf
    - f_org.xfce.xfce4-terminal.policy
  startup:
    dotfiles:
    - f_fstab
    - f_underclock.service
    dynvariables:
      fstab_tmp_dst: mktemp /tmp/fstab-append.XXX
    variables:
      fstab_append_marker: 'Custom mount points'
      fstab_dst: /etc/fstab
  xkb:
    dotfiles:
    - f_base.lst
    # - f_base.xml
    - f_keyboard
    - f_us
    dynvariables:
      xkb_tmp_dst: mktemp /tmp/xkb-dotfiles.XXX
    variables:
      base_lst_range_start: ^\s*\sintl\s\s*us
      base_lst_range_end: ^\s*\salt-intl\s\s*us
      base_lst_dst: /usr/share/X11/xkb/rules/base.lst
      base_xml_range_start: ^\s*\sintl\s\s*us
      base_xml_range_end: ^\s*\salt-intl\s\s*us
      base_xml_dst: /usr/share/X11/xkb/rules/base.xml
      symbols_append_marker: 'Custom layout symbols'
      symbols_dst: /usr/share/X11/xkb/symbols/us
    actions:
    - rm '{{@@ xkb_tmp_dst @@}}'
variables:
  mr_default_dir: /opt
  user: root
  zygal_colorscheme: green
