%YAML 1.2
---
# This dotdrop config file is meant for root dotfiles.

actions:
  pre:
    create_if_empty: "[ -s '{0}' ] || printf '{1}' > '{0}'"

    # This action installs the packages providing the files modified by the
    # environment profile
    environment: |-
      case "$DISTRO" in
          'arch')
              pacman -S dash bash zsh
              ;;

          'debian')
              apt-get install bash dash zsh
              ;;
      esac

  post:
    # Just polishes custom dotfiles installation, does not install languages
    asdf: sh ./actions/asdf.sh '{{@@ asdf_config @@}}'

    # This action applies the grub configuration
    grub: update-grub

    ddclient: sh ./actions/ddclient.sh '{0}'
    locales: sh ./actions/locales.sh

    # This action installs the packages providing the commands used in the root
    # mrconfig file
    mrconfig: |-
      case "$DISTRO" in
          'arch')
              pacman -S jq
              ;;

          'debian')
              apt-get install jq
              ;;
      esac

    # This action enables the systemd service file passed as an argument
    systemd-enable: basename '{0}' '.service' | xargs systemctl enable

    # This action applies the timezone settings.
    # In Debian, non-interactive mode in dpkg-reconfigure needs both
    # /etc/timezones and /etc/localtime in place to work. /etc/timezone is the
    # dotfile itself ({0} here), while /etc/localtime is set according to the
    # Debian wiki: https://wiki.debian.org/TimeZoneChanges
    timezone: |-
      case "$DISTRO" in
          'arch')
              xargs timedatectl set-timezone < '{0}'
              rm '{0}'
              ;;

          'debian')
              xargs -i cp --remove-destination '/usr/share/zoneinfo/{{}}' \
                  /etc/localtime < '{0}'
              dpkg-reconfigure -f noninteractive tzdata
              ;;
      esac

    xkb: sh ./actions/xkb.sh

config:
  backup: false
  banner: true
  create: true
  dotpath: dotfiles
  func_file:
  - python/functions.py
  ignoreempty: true
  import_actions:
  - yaml/actions/append.yaml
  - yaml/actions/insert.yaml
  import_configs:
  - yaml/profiles/apt-repos.yaml
  - yaml/profiles/shared.yaml
  import_variables:
  - yaml/variables/{{@@ user @@}}/*.yaml:optional
  - yaml/variables/{{@@ env['HOST'] @@}}/*.yaml:optional
  - yaml/variables/{{@@ env['HOST'] @@}}/{{@@ user @@}}/*.yaml:optional
  - yaml/variables/{{@@ env['DISTRO'] @@}}/*.yaml:optional
  - yaml/variables/asdf.yaml
  - yaml/variables/env.yaml
  - yaml/variables/i3.yaml
  - yaml/variables/look-and-feel.yaml
  - yaml/variables/*-look-and-feel.yaml
  - yaml/variables/shared.yaml
  - yaml/variables/private.yaml
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop

dotfiles:
  d_applications:
    src: usr/share/applications
    dst: /usr/share/applications
  d_asdf:
    src: usr/local/etc/asdf
    # Dynamic path as it's used somewhere else too
    dst: '{{@@ asdf_config @@}}'
    actions:
    - asdf
  d_exports.d:
    src: etc/exports.d
    dst: /etc/exports.d
  d_local_lib_sh:
    src: usr/local/lib/sh
    dst: /usr/local/lib/sh
  d_myrepos-lib:
    src: usr/local/share/mr
    # Dynamic path since it's used somewhere else too
    dst: '{{@@ mr_libs_path @@}}'
  d_xorg.conf.d:
    src: etc/X11/xorg.conf.d
    dst: /etc/X11/xorg.conf.d
  f_60-root.conf:
    src: etc/polkit-1/localauthority.conf.d/60-root.conf
    dst: /etc/polkit-1/localauthority.conf.d/60-root.conf
  f_80i3blocks:
    src: etc/apt/apt.conf.d/80i3blocks
    dst: /etc/apt/apt.conf.d/80i3blocks
  f_99-no-wireless-on-wired:
    src: etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
    dst: /etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
  f_asdf-env:
    src: etc/profile.d/asdf-env.sh
    # Dynamic path as it's used somewhere else too
    dst: '{{@@ asdf_env_path @@}}'
  f_asdf-env-bash:
    src: env/source-asdf-env
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ asdf_env_tmp_dst @@}}'
    actions:
    - create_if_empty '{{@@ bash_env_dst @@}}' '#!/usr/bin/env bash\n'
    - strip_file '{{@@ asdf_env_tmp_dst @@}}' '{{@@ bash_env_dst @@}}'
    # Inserts after the first empty line or the first comment
    - >-
      insert_match '(^$|^[^#])' '{{@@ asdf_env_tmp_dst @@}}'
        '{{@@ bash_env_dst @@}}'
    - rm '{{@@ asdf_env_tmp_dst @@}}'
  f_asdf-env-zsh:
    src: env/source-asdf-env
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ asdf_env_tmp_dst @@}}'
    actions:
    - create_if_empty '{{@@ zsh_env_dst @@}}' '#!/usr/bin/env zsh\n'
    - strip_file '{{@@ asdf_env_tmp_dst @@}}' '{{@@ zsh_env_dst @@}}'
    # Inserts after the first empty line or the first comment
    - >-
      insert_match '(^$|^[^#])' '{{@@ asdf_env_tmp_dst @@}}'
        '{{@@ zsh_env_dst @@}}'
    - rm '{{@@ asdf_env_tmp_dst @@}}'
  f_ddclient.conf:
    src: etc/ddclient.conf
    # Dynamic path since it differs across distros
    dst: '{{@@ ddclient_dst_path @@}}'
    actions:
    - ddclient '{{@@ _dotfile_abs_dst @@}}'
  f_fstab:
    src: etc/fstab
    # Dynamic path since the dotfile content is appended to dst
    dst: '{{@@ fstab_tmp_dst @@}}'
    actions:
    - strip '{{@@ fstab_append_marker @@}}' '{{@@ fstab_dst @@}}'
    - append '{{@@ fstab_dst @@}}' '{{@@ fstab_tmp_dst @@}}'
  f_frequent-hosts:
    src: usr/local/etc/frequent-hosts
    dst: /usr/local/etc/frequent-hosts
  f_grub:
    src: etc/default/grub
    dst: /etc/default/grub
    actions:
    - grub
  f_hostname:
    src: etc/hostname
    dst: /etc/hostname
  f_hosts:
    src: etc/hosts
    # Dynamic path since the dotfile content is appended to dst
    dst: '{{@@ hosts_tmp_dst @@}}'
    actions:
    - strip '{{@@ hosts_append_marker @@}}' '{{@@ hosts_dst @@}}'
    - append '{{@@ hosts_dst @@}}' '{{@@ hosts_tmp_dst @@}}'
  f_keyboard:
    src: etc/default/keyboard
    dst: /etc/default/keyboard
  f_lightdm-gtk-greeter.conf.d_02_custom.conf:
    src: usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
    dst: /usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
  f_lightdm.conf.d_02_custom.conf:
    src: usr/share/lightdm/lightdm.conf.d/02_custom.conf
    dst: /usr/share/lightdm/lightdm.conf.d/02_custom.conf
  f_locale:
    src: etc/default/locale
    dst: /etc/default/locale
  f_locale.conf:
    src: etc/locale.conf
    dst: /etc/locale.conf
  f_mrconfig-gui:
    src: opt/mrconfig.gui
    dst: /opt/.mrconfig.gui
  f_mrconfig-distro:
    src: opt/mrconfig.{{@@ env['DISTRO'] @@}}
    dst: /opt/.mrconfig.{{@@ env['DISTRO'] @@}}
  f_mrconfig-main:
    src: opt/mrconfig.{{@@ user @@}}
    dst: /opt/.mrconfig
  f_networkd_20-wired.network:
    src: etc/systemd/network/20-wired.network
    dst: /etc/systemd/network/20-wired.network
  f_org.xfce.xfce4-terminal.policy:
    src: usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
    dst: /usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
  f_pam.d_system-login:
    src: etc/pam.d/system-login
    dst: /etc/pam.d/system-login
  f_local_bin_shell-cache:
    src: usr/local/bin/shell-cache
    dst: /usr/local/bin/shell-cache
  f_sshd_config:
    src: etc/ssh/sshd_config
    dst: /etc/ssh/sshd_config
  f_sudo_asdf-env:
    src: etc/sudoers.d/asdf-env
    dst: /etc/sudoers.d/asdf-env
  f_sudo_insults:
    src: etc/sudoers.d/insults
    dst: /etc/sudoers.d/insults
  f_sudo_sys-env:
    src: etc/sudoers.d/sys-env
    dst: /etc/sudoers.d/sys-env
  f_sys-env:
    src: etc/profile.d/sys-env.sh
    # Dynamic path as it's used somewhere else too
    dst: '{{@@ sys_env_path @@}}'
  f_sys-env-bash:
    src: env/source-sys-env
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ sys_env_tmp_dst @@}}'
    actions:
    - create_if_empty '{{@@ bash_env_dst @@}}' '#!/usr/bin/env bash\n'
    - strip_file '{{@@ sys_env_tmp_dst @@}}' '{{@@ bash_env_dst @@}}'
    # Inserts after the first empty line or the first comment
    - >-
      insert_match '(^$|^[^#])' '{{@@ sys_env_tmp_dst @@}}'
        '{{@@ bash_env_dst @@}}'
    - rm '{{@@ sys_env_tmp_dst @@}}'
  f_sys-env-zsh:
    src: env/source-sys-env
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ sys_env_tmp_dst @@}}'
    actions:
    - create_if_empty '{{@@ zsh_env_dst @@}}' '#!/usr/bin/env zsh\n'
    - strip_file '{{@@ sys_env_tmp_dst @@}}' '{{@@ zsh_env_dst @@}}'
    # Inserts after the first empty line or the first comment
    - >-
      insert_match '(^$|^[^#])' '{{@@ sys_env_tmp_dst @@}}'
        '{{@@ zsh_env_dst @@}}'
    - rm '{{@@ sys_env_tmp_dst @@}}'
  f_systemd_host-refresh.service:
    src: etc/systemd/system/host-refresh.service
    dst: /etc/systemd/system/host-refresh.service
  f_systemd_host-refresh.timer:
    src: etc/systemd/system/host-refresh.timer
    dst: /etc/systemd/system/host-refresh.timer
  f_systemd_myrepos-upgrade.service:
    src: etc/systemd/system/myrepos-upgrade.service
    dst: /etc/systemd/system/myrepos-upgrade.service
  f_systemd_myrepos-upgrade.timer:
    src: etc/systemd/system/myrepos-upgrade.timer
    dst: /etc/systemd/system/myrepos-upgrade.timer
  f_timezone:
    src: etc/timezone
    dst: /etc/timezone
    actions:
    - timezone '{{@@ _dotfile_abs_dst @@}}'
  f_underclock.service:
    src: etc/systemd/system/underclock.service
    dst: /etc/systemd/system/underclock.service
    actions:
    - systemd-enable '{{@@ _dotfile_abs_src @@}}'
  f_xkb_base.lst:
    src: usr/share/X11/xkb/rules/base.lst
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - >-
      strip_file '{{@@ _dotfile_abs_src @@}}' '{{@@ base_lst_dst @@}}'
    - >-
      insert_match '^\s*\sintl\s\s*us' '{{@@ xkb_tmp_dst @@}}'
        '{{@@ base_lst_dst @@}}'
  f_xkb_base.xml:
    src: usr/share/X11/xkb/rules/base.xml
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - strip_xml ".//*[name='intl-custom'].." '{{@@ base_xml_dst @@}}'
    - >-
      insert_xml ".//*[description='English (US, intl., with dead keys)'].."
        '{{@@ xkb_tmp_dst @@}}' '{{@@ base_xml_dst @@}}'
  f_xkb_us:
    src: usr/share/X11/xkb/symbols/us
    dst: '{{@@ xkb_tmp_dst @@}}'
    # Dynamic path since the dotfile content is appended to dst
    actions:
    - strip '{{@@ symbols_append_marker @@}}' '{{@@ symbols_dst @@}}'
    - append '{{@@ symbols_dst @@}}' '{{@@ xkb_tmp_dst @@}}'

dynvariables:
  # These variables define which profile should be included to have asdf
  # dotfiles in "cli" and "manual" profile respectively. "emtpy" is just a
  # placeholder profile.
  #
  # In particular, on Arch asdf is installd via AUR, meaning that its dotfiles
  # are the same as other cli applications installed via the package manager.
  # Conversely, on Debian asdf is manually managed, so its dotfiles belong to
  # the "manual" profile.
  #
  # They need to be defined here, rahter than in a distro-specific variables
  # files, because variables from external variables are not yet available
  # when including profiles.
  cli_asdf_include: |-
    case "$DISTRO" in
        'arch')
            echo 'asdf'
            ;;

        'debian')
            echo 'empty'
            ;;
    esac
  manual_asdf_include: |-
    case "$DISTRO" in
        'arch')
            echo 'empty'
            ;;

        'debian')
            echo 'asdf'
            ;;
    esac

profiles:
  # This profile includes asdf version manager configuration files
  asdf:
    dotfiles:
    - d_asdf
    - f_asdf-env
    - f_asdf-env-bash
    - f_asdf-env-zsh
    - f_sudo_asdf-env
    dynvariables:
      asdf_env_tmp_dst: mktemp /tmp/asdf-env-tmp.XXX

  # This profile groups configuration files for CLI-based applictions.
  cli:
    import:
    - yaml/dotfiles/{{@@ env['DISTRO'] @@}}/{{@@ user @@}}/cli.yaml:optional
    - yaml/dotfiles/{{@@ env['HOST'] @@}}/{{@@ user @@}}/cli.yaml:optional
    include:
    - git
    - '{{@@ cli_asdf_include @@}}'

  # This profile gathers my custom shell commands
  commands:
    dotfiles:
    - d_local_lib_sh
    - f_local_bin_shell-cache

  # This profile groups cron- and anacron-related configuration, and the
  # companion logging configuration
  cron:
    dotfiles:
    - f_systemd_myrepos-upgrade.service
    - f_systemd_myrepos-upgrade.timer
    - f_systemd_host-refresh.service
    - f_systemd_host-refresh.timer
    include:
    - commands
    dynvariables:
      anacrontab_tmp_dst: mktemp /tmp/anacrontab-append.XXX
    variables:
      anacrontab_append_marker: Custom jobs
      anacrontab_dst: /etc/anacrontab
    actions:
    - anacron '' ''
    - rm '{{@@ anacrontab_tmp_dst @@}}'

  # This profile includes configuration files for ddclient
  ddclient:
    dotfiles:
    - f_ddclient.conf

  # This profile contains dotfiles used to setup the global shell environment
  environment:
    dotfiles:
    - f_sys-env
    - f_sys-env-bash
    - f_sys-env-zsh
    - f_sudo_sys-env
    - f_sudo_insults
    dynvariables:
      sys_env_tmp_dst: mktemp /tmp/sys-env-tmp.XXX
    actions:
    - environment

  # This profile gathers the graphical login manager dotfiles
  graphical-login:
    dotfiles:
    - f_lightdm.conf.d_02_custom.conf
    - f_lightdm-gtk-greeter.conf.d_02_custom.conf

  # This profile includes the i3 session dotfiles that require root privileges
  # to be installed
  i3:
    dotfiles:
    - f_80i3blocks
    include:
    - x11

  # This profile contains dotfiles related to localization and timezones
  locales:
    import:
    - yaml/dotfiles/{{@@ env['DISTRO'] @@}}/locales.yaml
    actions:
    - locales

  # This profile holds dotfiles used to install software manually, that is
  # without the aid of a package manager
  manual:
    dotfiles:
    - f_mrconfig-distro
    - f_mrconfig-gui
    - f_mrconfig-main
    - f_mrtrust
    import:
    - yaml/dotfiles/{{@@ env['DISTRO'] @@}}/manual.yaml:optional
    - yaml/dotfiles/{{@@ env['HOST'] @@}}/manual.yaml:optional
    include:
    - myrepos
    - '{{@@ manual_asdf_include @@}}'

  myrepos:
    dotfiles:
    - d_myrepos-lib

  # This profile contains network connection configuration files
  network:
    dotfiles:
    - f_hostname
    - f_networkd_20-wired.network

  # This profile contains network utilities configuration files
  network-utils:
    dotfiles:
    - f_99-no-wireless-on-wired
    - f_frequent-hosts
    - f_hosts
    actions:
    - rm '{{@@ hosts_tmp_dst @@}}'
    dynvariables:
      hosts_tmp_dst: mktemp /tmp/hosts-append.XXX
    variables:
      hosts_append_marker: Local hosts
      hosts_dst: /etc/hosts

  # This profile holds nfs configurations and exports
  nfs:
    dotfiles:
    - d_exports.d

  # This profile gathers PolicyKit dotfiles
  polkit:
    dotfiles:
    - f_60-root.conf
    - f_org.xfce.xfce4-terminal.policy

  # This profile includes SSH server configuration files
  ssh:
    dotfiles:
    - f_sshd_config

  # This profile collects system startup jobs and configuration dotfiles
  startup:
    dotfiles:
    - f_grub
    - f_fstab
    - f_underclock.service
    import:
    - yaml/dotfiles/{{@@ env['HOST'] @@}}/{{@@ user @@}}/startup.yaml:optional
    actions:
    - rm '{{@@ fstab_tmp_dst @@}}'
    dynvariables:
      fstab_tmp_dst: mktemp /tmp/fstab-append.XXX
    variables:
      fstab_append_marker: Custom mount points
      fstab_dst: /etc/fstab

  # This profile contains X11 configuration files
  x11:
    dotfiles:
    - d_xorg.conf.d

  # This profile groups keyboard layout dotfiles
  xkb:
    dotfiles:
    - f_keyboard
    - f_xkb_base.lst
    - f_xkb_base.xml
    - f_xkb_us
    actions:
    - xkb
    - rm '{{@@ xkb_tmp_dst @@}}'
    dynvariables:
      xkb_tmp_dst: mktemp /tmp/xkb-dotfiles.XXX
    variables:
      base_lst_dst: /usr/share/X11/xkb/rules/base.lst
      base_xml_dst: /usr/share/X11/xkb/rules/base.xml
      symbols_append_marker: Custom layout symbols
      symbols_dst: /usr/share/X11/xkb/symbols/us

variables:
  # This variable is used to differentiate between user and root configuration
  # in some dotfiles.
  user: root
