%YAML 1.2
---
# This dotdrop config file is meant for root dotfiles.

actions:
  pre:
    create_if_empty: "[ -s '{0}' ] || printf '{1}' > '{0}'"

  post:
    # This action applies the grub configuration
    grub: update-grub

    ddclient: sh ./actions/ddclient.sh '{0}'
    locales: sh ./actions/locales.sh

    # This action installs the packages providing the commands used in the root
    # mrconfig file
    mrconfig: |-
      case "$DISTRO" in
          'arch')
              pacman -S jq
              ;;

          'debian')
              apt-get install jq
              ;;
      esac

    # This action enables the systemd service file passed as an argument
    systemd-enable: basename '{0}' '.service' | xargs systemctl enable

    # This action applies the timezone settings.
    # In Debian, non-interactive mode in dpkg-reconfigure needs both
    # /etc/timezones and /etc/localtime in place to work. /etc/timezone is the
    # dotfile itself ({0} here), while /etc/localtime is set according to the
    # Debian wiki: https://wiki.debian.org/TimeZoneChanges
    timezone: |-
      case "$DISTRO" in
          'arch')
              < '{0}' xargs timedatectl set-timezone
              rm '{0}'
              ;;

          'debian')
              < '{0}' xargs -i cp --remove-destination \
                  '/usr/share/zoneinfo/{{}}' /etc/localtime
              dpkg-reconfigure -f noninteractive tzdata
              ;;
      esac

    xkb: sh ./actions/xkb.sh

config:
  backup: false
  banner: true
  create: true
  dotpath: dotfiles
  func_file:
  - python/functions.py
  ignoreempty: true
  import_actions:
  - yaml/actions/append.yaml
  - yaml/actions/insert.yaml
  - yaml/actions/shared.yaml
  import_configs:
  - yaml/profiles/apt-repos.yaml
  - yaml/profiles/shared.yaml
  import_variables:
  - yaml/variables/{{@@ user @@}}/*.yaml:optional
  - yaml/variables/{{@@ env['HOST'] @@}}/*.yaml:optional
  - yaml/variables/{{@@ env['HOST'] @@}}/{{@@ user @@}}/*.yaml:optional
  - yaml/variables/{{@@ env['DISTRO'] @@}}/*.yaml:optional
  - yaml/variables/asdf.yaml
  - yaml/variables/i3.yaml
  - yaml/variables/look-and-feel.yaml
  - yaml/variables/*-look-and-feel.yaml
  - yaml/variables/shared.yaml
  - yaml/variables/private.yaml
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop

dotfiles:
  d_applications:
    src: usr/share/applications
    dst: /usr/share/applications
  d_asdf:
    src: asdf
    # Dynamic path as it's used somewhere else too
    dst: '{{@@ asdf_config @@}}'
  d_exports.d:
    src: etc/exports.d
    dst: /etc/exports.d
  d_xorg.conf.d:
    src: etc/X11/xorg.conf.d
    dst: /etc/X11/xorg.conf.d
  f_60-root.conf:
    src: etc/polkit-1/localauthority.conf.d/60-root.conf
    dst: /etc/polkit-1/localauthority.conf.d/60-root.conf
  f_80i3blocks:
    src: etc/apt/apt.conf.d/80i3blocks
    dst: /etc/apt/apt.conf.d/80i3blocks
  f_99-no-wireless-on-wired:
    src: etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
    dst: /etc/NetworkManager/dispatcher.d/99-no-wireless-on-wired
  f_anacron:
    src: etc/default/anacron
    dst: /etc/default/anacron
  f_anacrontab:
    src: cron/anacrontab
    # Dynamic path since the dotfile content is appended to dst
    dst: '{{@@ anacrontab_tmp_dst @@}}'
    actions:
    - strip '{{@@ anacrontab_append_marker @@}}' '{{@@ anacrontab_dst @@}}'
    - append '{{@@ anacrontab_dst @@}}' '{{@@ anacrontab_tmp_dst @@}}'
  f_ddclient.conf:
    src: etc/ddclient.conf
    # Dynamic path since it differs across distros
    dst: '{{@@ ddclient_dst_path @@}}'
    actions:
    - ddclient '{{@@ _dotfile_abs_dst @@}}'
  f_env-vars.sh:
    src: etc/profile.d/env-vars.sh
    # Dynamic path as it's used somewhere else too
    dst: '{{@@ env_vars_path @@}}'
  f_env-vars-bash.sh:
    src: env/source-env-vars.sh
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ env_tmp_dst @@}}'
    actions:
    - create_if_empty '{{@@ bash_env_dst @@}}' '#!/usr/bin/env bash\n'
    - strip_file '{{@@ env_tmp_dst @@}}' '{{@@ bash_env_dst @@}}'
    # Inserts after the first empty line or the first comment
    - >-
      insert_match '(^$|^[^#])' '{{@@ env_tmp_dst @@}}'
        '{{@@ bash_env_dst @@}}'
    - rm '{{@@ env_tmp_dst @@}}'
  f_env-vars-zsh.sh:
    src: env/source-env-vars.sh
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ env_tmp_dst @@}}'
    actions:
    - create_if_empty '{{@@ zsh_env_dst @@}}' '#!/usr/bin/env zsh\n'
    - strip_file '{{@@ env_tmp_dst @@}}' '{{@@ zsh_env_dst @@}}'
    # Inserts after the first empty line or the first comment
    - >-
      insert_match '(^$|^[^#])' '{{@@ env_tmp_dst @@}}'
        '{{@@ zsh_env_dst @@}}'
    - rm '{{@@ env_tmp_dst @@}}'
  f_fstab:
    src: etc/fstab
    # Dynamic path since the dotfile content is appended to dst
    dst: '{{@@ fstab_tmp_dst @@}}'
    actions:
    - strip '{{@@ fstab_append_marker @@}}' '{{@@ fstab_dst @@}}'
    - append '{{@@ fstab_dst @@}}' '{{@@ fstab_tmp_dst @@}}'
  f_frequent-hosts:
    src: usr/local/etc/frequent-hosts
    dst: /usr/local/etc/frequent-hosts
  f_grub:
    src: etc/default/grub
    dst: /etc/default/grub
    actions:
    - grub
  f_hostname:
    src: etc/hostname
    dst: /etc/hostname
  f_hosts:
    src: etc/hosts
    # Dynamic path since the dotfile content is appended to dst
    dst: '{{@@ hosts_tmp_dst @@}}'
    actions:
    - strip '{{@@ hosts_append_marker @@}}' '{{@@ hosts_dst @@}}'
    - append '{{@@ hosts_dst @@}}' '{{@@ hosts_tmp_dst @@}}'
  f_keyboard:
    src: etc/default/keyboard
    dst: /etc/default/keyboard
  f_lightdm-gtk-greeter.conf.d_02_custom.conf:
    src: usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
    dst: /usr/share/lightdm/lightdm-gtk-greeter.conf.d/02_custom.conf
  f_lightdm.conf.d_02_custom.conf:
    src: usr/share/lightdm/lightdm.conf.d/02_custom.conf
    dst: /usr/share/lightdm/lightdm.conf.d/02_custom.conf
  f_locale:
    src: etc/default/locale
    dst: /etc/default/locale
  f_locale.conf:
    src: etc/locale.conf
    dst: /etc/locale.conf
  f_logrotate.d_custom.conf:
    src: etc/logrotate.d/custom.conf
    dst: /etc/logrotate.d/custom.conf
  f_mrconfig:
    src: mrconfig-root
    dst: ~/.mrconfig
    actions:
    - mrconfig
  f_networkd_20-wired.network:
    src: etc/systemd/network/20-wired.network
    dst: /etc/systemd/network/20-wired.network
  f_org.xfce.xfce4-terminal.policy:
    src: usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
    dst: /usr/share/polkit-1/actions/org.xfce.xfce4-terminal.policy
  f_pam.d_system-login:
    src: etc/pam.d/system-login
    dst: /etc/pam.d/system-login
  f_rsyslog.d_custom.conf:
    src: etc/rsyslog.d/custom.conf
    dst: /etc/rsyslog.d/custom.conf
  f_sshd_config:
    src: etc/ssh/sshd_config
    dst: /etc/ssh/sshd_config
  f_sudo_sys-env-vars:
    src: etc/sudoers.d/sys-env-vars
    dst: /etc/sudoers.d/sys-env-vars
  f_timezone:
    src: etc/timezone
    dst: /etc/timezone
    actions:
    - timezone '{{@@ _dotfile_abs_dst @@}}'
  f_underclock.service:
    src: etc/systemd/system/underclock.service
    dst: /etc/systemd/system/underclock.service
    actions:
    - systemd-enable '{{@@ _dotfile_abs_src @@}}'
  f_xkb_base.lst:
    src: usr/share/X11/xkb/rules/base.lst
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - >-
      strip_file '{{@@ _dotfile_abs_src @@}}' '{{@@ base_lst_dst @@}}'
    - >-
      insert_match '^\s*\sintl\s\s*us' '{{@@ xkb_tmp_dst @@}}'
        '{{@@ base_lst_dst @@}}'
  f_xkb_base.xml:
    src: usr/share/X11/xkb/rules/base.xml
    # Dynamic path since the dotfile content is inserted into dst
    dst: '{{@@ xkb_tmp_dst @@}}'
    actions:
    - strip_xml ".//*[name='intl-custom'].." '{{@@ base_xml_dst @@}}'
    - >-
      insert_xml ".//*[description='English (US, intl., with dead keys)'].."
        '{{@@ xkb_tmp_dst @@}}' '{{@@ base_xml_dst @@}}'
  f_xkb_us:
    src: usr/share/X11/xkb/symbols/us
    dst: '{{@@ xkb_tmp_dst @@}}'
    # Dynamic path since the dotfile content is appended to dst
    actions:
    - strip '{{@@ symbols_append_marker @@}}' '{{@@ symbols_dst @@}}'
    - append '{{@@ symbols_dst @@}}' '{{@@ xkb_tmp_dst @@}}'

profiles:
  # This profile groups cron- and anacron-related configuration, and the
  # companion logging configuration
  cron:
    dotfiles:
    - f_anacron
    - f_anacrontab
    - f_logrotate.d_custom.conf
    - f_rsyslog.d_custom.conf
    actions:
    - anacron '' ''
    - rm '{{@@ anacrontab_tmp_dst @@}}'
    dynvariables:
      anacrontab_tmp_dst: mktemp /tmp/anacrontab-append.XXX
    variables:
      anacrontab_append_marker: Custom jobs
      anacrontab_dst: /etc/anacrontab

  # This profile includes configuration files for ddclient
  ddclient:
    dotfiles:
    - f_ddclient.conf

  # This profile contains dotfiles used to setup the global shell environment
  environment:
    dotfiles:
    - f_env-vars.sh
    - f_env-vars-bash.sh
    - f_env-vars-zsh.sh
    - f_sudo_sys-env-vars
    dynvariables:
      env_tmp_dst: mktemp /tmp/env-tmp.XXX
    variables:
      env_vars_path: /etc/profile.d/env-vars.sh
      bash_env_dst: /etc/bash.bashrc
      zsh_env_dst: /etc/zsh/zshenv

  # This profile gathers the graphical login manager dotfiles
  graphical-login:
    dotfiles:
    - f_lightdm.conf.d_02_custom.conf
    - f_lightdm-gtk-greeter.conf.d_02_custom.conf

  # This profile includes the i3 session dotfiles that require root privileges
  # to be installed
  i3:
    dotfiles:
    - f_80i3blocks
    include:
    - x11

  # This profile contains dotfiles related to localization and timezones
  locales:
    import:
    - yaml/dotfiles/{{@@ env['DISTRO'] @@}}/locales.yaml
    actions:
    - locales

  # This profile holds dotfiles used to install software manually, that is
  # without the aid of a package manager
  manual:
    dotfiles:
    - d_asdf
    - d_applications
    - f_mrconfig

  # This profile contains network connection configuration files
  network:
    dotfiles:
    - f_hostname
    - f_networkd_20-wired.network

  # This profile contains network utilities configuration files
  network-utils:
    dotfiles:
    - f_99-no-wireless-on-wired
    - f_frequent-hosts
    - f_hosts
    actions:
    - rm '{{@@ hosts_tmp_dst @@}}'
    dynvariables:
      hosts_tmp_dst: mktemp /tmp/hosts-append.XXX
    variables:
      hosts_append_marker: Local hosts
      hosts_dst: /etc/hosts

  # This profile holds nfs configurations and exports
  nfs:
    dotfiles:
    - d_exports.d

  # This profile gathers PolicyKit dotfiles
  polkit:
    dotfiles:
    - f_60-root.conf
    - f_org.xfce.xfce4-terminal.policy

  # This profile includes SSH server configuration files
  ssh:
    dotfiles:
    - f_sshd_config

  # This profile collects system startup jobs and configuration dotfiles
  startup:
    dotfiles:
    - f_grub
    - f_underclock.service
    import:
    - yaml/dotfiles/{{@@ env['HOST'] @@}}/{{@@ user @@}}/startup.yaml:optional
    actions:
    - rm '{{@@ fstab_tmp_dst @@}}'
    dynvariables:
      fstab_tmp_dst: mktemp /tmp/fstab-append.XXX
    variables:
      fstab_append_marker: Custom mount points
      fstab_dst: /etc/fstab

  # This profile contains X11 configuration files
  x11:
    dotfiles:
    - d_xorg.conf.d

  # This profile groups keyboard layout dotfiles
  xkb:
    dotfiles:
    - f_keyboard
    - f_xkb_base.lst
    - f_xkb_base.xml
    - f_xkb_us
    actions:
    - xkb
    - rm '{{@@ xkb_tmp_dst @@}}'
    dynvariables:
      xkb_tmp_dst: mktemp /tmp/xkb-dotfiles.XXX
    variables:
      base_lst_dst: /usr/share/X11/xkb/rules/base.lst
      base_xml_dst: /usr/share/X11/xkb/rules/base.xml
      symbols_append_marker: Custom layout symbols
      symbols_dst: /usr/share/X11/xkb/symbols/us

variables:
  # This variable defines the default directory myrepos is run from, both as
  # a shell alias and in anacron jobs.
  mr_default_dir: /opt

  # This variable is used to differentiate between user and root configuration
  # in some dotfiles.
  user: root
