config:
  backup: false
  banner: true
  create: true
  dotpath: dotfiles
  ignoreempty: false
  import_configs:
  - profiles.d/shell.yaml
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop
dotfiles:
  d_atom:
    dst: ~/.atom
    src: atom
  d_autostart:
    dst: ~/.config/autostart
    src: config/autostart
  d_calibre:
    dst: ~/.config/calibre
    src: config/calibre
  d_desktop-directories:
    dst: ~/.local/share/desktop-directories
    src: local/share/desktop-directories
  d_docker:
    dst: ~/.docker
    src: docker
  d_geany:
    dst: ~/.config/geany
    src: config/geany
  d_gtk3:
    dst: ~/.config/gtk-3.0
    src: config/gtk-3.0
  d_orage:
    dst: ~/.config/orage
    src: config/orage
  d_parcellite:
    dst: ~/.config/parcellite
    src: config/parcellite
  d_thunar:
    dst: ~/.config/Thunar
    src: config/Thunar
  d_virtualbox:
    dst: ~/.config/VirtualBox
    src: config/VirtualBox
  d_xfce4:
    dst: ~/.config/xfce4
    src: config/xfce4
  f_ghci:
    dst: ~/.ghci
    src: ghci
  f_gitconfig:
    dst: ~/.gitconfig
    src: gitconfig
  f_hgrc:
    dst: ~/.hgrc
    src: hgrc
  f_xfce-applications.menu:
    dst: ~/.config/menus/xfce-applications.menu
    src: config/menus/xfce-applications.menu
  f_xsessionrc:
    dst: ~/.xsessionrc
    src: xsessionrc
profiles:
  davide-debian:
    dotfiles:
    - d_atom
    - d_autostart
    - d_calibre
    - d_desktop-directories
    - d_docker
    - d_geany
    - d_gtk3
    - d_orage
    - d_parcellite
    - d_thunar
    - d_virtualbox
    - d_xfce4
    - f_ghci
    - f_gitconfig
    - f_hgrc
    - f_xfce-applications.menu
    - f_xsessionrc
    include:
    - shell
variables:
  user: user
