[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xdg = "*"
dotdrop = "*"

[dev-packages]
black = "*"
isort = "*"
i3ipc = "*"
docopt = "*"
aiostream = "*"

[requires]
python_version = "3"
