[mailwatch-plugin]
click_command=thunderbird
new_messages_command=
normal_icon=xfce-nomail
new_mail_icon=xfce-newmail
log_lines=200
show_log_status=true
auto_open_online_doc=false

[mailwatch]
nmailboxes=1
mailbox0=imap
mailbox_name0=GMX

[mailbox0]
host=imap.gmx.com
username=davide.laezza@gmx.com
password=yafzk$0i6g*\\Ivef6fhWpb3pacyNX\\ot
auth_type=1
server_directory=
use_standard_port=1
nonstandard_port=0
timeout=600
n_newmail_boxes=1
newmail_box_0=INBOX

