show_frame=false
fg_set=false
bg_set=false
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%H:%M:%S
font0=
tooltip=%A, %d %B %Y
hib_timing=false
data1=%d-%m-%Y
font1=

