[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
str_fontsize=medium
val_fontsize=2
Font=Sans 11
Lines_Size=1
Cover_All_Panel_Rows=false
Update_Interval=5
Exec_Command=false
Show_Units=true
Small_Spacings=true
Command_Name=xfce4-sensors
Number_Chips=6
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=785
Preferred_Height=660

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature1]
Id=-1
Address=1
Name=Core 0
Color=#FF5600
Show=true
Min=0,00
Max=61,00

[Chip0_Feature2]
Id=-1
Address=2
Name=Core 1
Color=#FF5600
Show=true
Min=0,00
Max=58,00

[Chip1]
Name=acpitz-0
Number=1

[Chip2]
Name=iwlwifi-0
Number=2

[Chip3]
Name=pch_skylake-0
Number=3

[Chip4]
Name=Hard disks
Number=4

[Chip5]
Name=ACPI
Number=5

