[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Clipman
Comment=Wayland clipboard manager
Exec=wl-paste -t text --watch clipman store
OnlyShowIn=sway
StartupNotify=false
Terminal=false
Hidden=false
