[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Window composer
Comment=Implements window compositing
Exec=picom -b
OnlyShowIn=i3
StartupNotify=false
Terminal=false
Hidden=false
