[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Window opacity daemon
Comment=Sets windows opacity on focus change
Exec=swayfocus -d 0.5
OnlyShowIn=sway
StartupNotify=false
Terminal=false
Hidden=false
