[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Udiskie
Comment=Front-end and automounter for udisks
Exec=udiskie
OnlyShowIn=sway
StartupNotify=true
Terminal=false
Hidden=false
