# shell-cache systemd timer file

[Unit]
Description=Job refreshing shell caches

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 00:05:00
Persistent=true
