[user]
	name = Davide Laezza
	email = truzzialrogo@gmx.com
[credential]
	helper = /usr/bin/git-credential-gnome-keyring
[gitreview]
	username = davla
[alias]
	graph = log --branches --remotes --graph --format='%C(yellow)%h %Creset%s%C(red)%d%n'
	graph-all = log --all --graph --format='%C(yellow)%h %Creset%s%C(red)%d%n'
	info = status -sb
	ls-aliases = config --get-regexp ^alias\\.
	squash = merge --squash
	unstash = stash pop
	unadd = reset HEAD --
	update = pull --rebase

	a = add
	b = checkout -qb
	c = commit
	g = log --branches --remotes --graph --format='%C(yellow)%h %Creset%s%C(red)%d%n'
	i = status -sb
	l = log
	m = merge --log
	p = push
	r = rebase
	s = stash push --
	u = pull --rebase

	aa = add --all
	ck = checkout -q
	cp = cherry-pick
	ga = graph --all --graph --format='%C(yellow)%h %Creset%s%C(red)%d%n'
	sq = merge --squash
	ua = reset HEAD --
	us = stash pop
[merge]
	log = 1
