# host-refresh systemd timer file

[Unit]
Description=Job refreshing the content of /etc/host for faster domain lookup

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 00:45:00
Persistent=true
