# myrepos-upgrade systemd timer file
#
# {{@@ header() @@}}

[Unit]
Description=Job upgrading packages installed manually system-wide via myrepos

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec={{@@ daily_timer_delay @@}}
