# atom-plugins systemd timer file
#
# {{@@ header() @@}}

[Unit]
Description=Job updating Atom text editor's plugins

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec={{@@ daily_timer_delay @@}}
