# wiki-home systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Job refreshing the Home page on Pokémon Central Wiki

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 01:05:00
Persistent=true
