# working-repos systemd service file

[Unit]
Description=Job keeping up-to-date working copies of repositories

[Install]
WantedBy=multi-user.target

[Timer]
OnCalendar=*-*-* 00:55:00
Persistent=true
