# Systemd service file for underclock

[Unit]
Description=Slows down the CPU if the guard temperature is reached

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=underclock 55
StandardOutput=syslog
SyslogFacility=local0
SyslogIdentifier=UNDERCLOCK
SyslogLevel=info
