# shell-plugins systemd timer file

[Unit]
Description=Job updating shell plugins

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 00:15:00
Persistent=true
