# shell-plugins systemd service file
#
# {{@@ header() @@}}

{%@@ set sheldon_profile = '' if is_headless | is_truthy else 'gui' -@@%}

[Unit]
Description=Job updating shell plugins
After=network-online.target
Wants=network-online.target

[Service]
Environment=SHELDON_PROFILE='{{@@ sheldon_profile @@}}'
ExecStart=sheldon lock --update
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=shell-plugins
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
