# shell-plugins systemd timer file
#
# {{@@ header() @@}}

[Unit]
Description=Job updating shell plugins

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec={{@@ daily_timer_delay @@}}
