# shell-cache systemd timer file
#
# {{@@ header() @@}}

[Unit]
Description=Job refreshing shell caches

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec={{@@ daily_timer_delay @@}}
