# shell-cache systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Job refreshing shell caches

[Service]
ExecStart={{@@ shell_cache_path @@}} --info
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=shell-cache
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
