# clipman systemd service file

[Unit]
Description=Wayland clipboard manager
After=graphical-session.target
BindsTo=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=wl-paste --type text --watch clipman store
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=clipman
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
