# Commuter card renewal contraption systemd service file

[Unit]
Description=send push notification when the commuter card renewal email is received

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*-*-* 02:45:00
