# Polkit authentication agent systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Polkit authentication agent (GNOME)
After=graphical-session.target
BindsTo=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart={%@@ if 'arch' in distro_id -@@%}
    /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{%@@ elif distro_id == 'debian' -@@%}
    /usr/libexec/polkit-mate-authentication-agent-1
{%@@ endif @@%}
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=polkit-auth-agent
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
