# swayidle systemd service file

[Unit]
Description=Sway session event hooks daemon
After=sway-session.target
BindsTo=sway-session.target
ConditionEnvironment=SWAYSOCK

[Install]
WantedBy=sway-session.target

[Service]
ExecStart=swayidle
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=swayidle
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
