# swayfocus systemd service file

[Unit]
Description=Sway window opacity daemon
After=sway-session.target
BindsTo=sway-session.target
ConditionEnvironment=SWAYSOCK

[Install]
WantedBy=sway-session.target

[Service]
ExecStart=swayfocus 0.5
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=swayfocus
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
