# sway-focused-opacity systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Sway window opacity daemon
After=sway-session.target
BindsTo=sway-session.target
ConditionEnvironment=SWAYSOCK

[Install]
WantedBy=sway-session.target

[Service]
ExecStart=sway-focused-opacity --unfocused-opacity 0.5 \
    --always-opaque '.name == "{{@@ i3_ws_live_tree.marker @@}}"'
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=sway-focused-opacity
SyslogLevel=info
SyslogLevelPrefix=true
Type=exec
