# VMWare User Agent integration systemd service file

[Unit]
Description=VMWare User Agent
After=graphical-session.target
BindsTo=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/vmware-user-suid-wrapper
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=vmware-user
SyslogLevel=info
SyslogLevelPrefix=true
Type=forking
