# wiki-fixes systemd service file

[Unit]
Description=job performing various automated fixes on Pokémon Central Wiki

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=Thu *-*-* 04:30:00
