# wiki-home systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Job refreshing the Home page on Pokémon Central Wiki
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bash "{{@@ wiki_root | tildeTo('%h') @@}}/{{@@ wiki_util_path @@}}/bash/run.sh" \
    null-edit.sh -page:Home
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=wiki-home
SyslogLevel=info
SyslogLevelPrefix=true
Type=oneshot
