# wiki-fixes systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=job performing various automated fixes on Pokémon Central Wiki

[Service]
ExecStart=/usr/bin/bash "{{@@ wiki_util_path | tildeTo('%h') @@}}/bash/run.sh" fixes.sh
StandardError=journal
StandardOutput=journal
SyslogFacility=local0
SyslogIdentifier=wiki-fixes
SyslogLevel=info
SyslogLevelPrefix=true
Type=oneshot
