# wiki-home systemd service file

[Unit]
Description=Job refreshing the Home page on Pokémon Central Wiki

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=Mon *-*-* 00:00:00
