# working-repos systemd service file
#
# {{@@ header() @@}}

[Unit]
Description=Job keeping up-to-date working copies of repositories

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec={{@@ daily_timer_delay @@}}
